figure{
	max-width:600px;
}

img {max-width:200px}

/* Apply Georgia font to all text */
body {
  font-family: Georgia, serif;
}


h1 {
  text-transform: uppercase;
}


figcaption {
  color: gray;
}


footer {
  color: gray;
}

/* Party colors */
.democrat {
  color: blue;
  font-weight: bold;
}

.republican {
  color: red;
  font-weight: bold;
}